.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1 {
  text-align: center;
}

.box {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one, .two {
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.down{
  text-align: center;



}

.hel{
  width: 200px;
  height:20px;
}